html, body {
    width: 100%;
    height: 100%;
    background-color: rgba(94, 148, 235, 0.1);
    font-family: 'arial', sans-serif;
    box-sizing: border-box;
    background: hsla(9, 100%, 87%, 1);
    background: linear-gradient(.25turn, hsla(9, 100%, 87%, 1) 0%, hsla(131, 52%, 38%, 1) 100%);
}

#dark html, #dark body, #dark .container {
    background: linear-gradient(.25turn, rgb(132, 102, 97) 0%, rgb(29, 91, 40) 100%);
    color: #F5F5F5 ;
}

body {
    min-height: 100vh;
    overflow-y: auto;
}

a {
    text-decoration: none;
    color: black;
}

#dark a { 
    color: white;
}

#dark {
    background-color: rgba(61, 61, 61, 0.823);
    color: white;
}

#dark h2 {
    background: rgb(132, 102, 97);
    color: #F5F5F5;
}

#light {
    background-color: #F5F5F5;
    color: black;
}

h2 { 
    font: 'Roboto', sans-serif; 
    font-size: 40px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: hsla(9, 100%, 87%, 1);
    border: black 2px solid;
    border-radius: 25px;
    margin-block-end: auto;
    text-align: center;
    box-shadow: 0 2px 15px #000000;
}

#dark h2 {
    background: rgb(132, 102, 97);
    color: #F5F5F5;
    border: white 2px solid;
    box-shadow: 0 2px 4px rgba(224, 224, 224, 0.721);
}

.container {
    width: 100%;    
    margin-left: auto;   
    margin-right: auto;

}



@media (max-width: 475px) {
  .container{
    max-width: 100%;
    display: flex;
  }
}

@media (max-width: 640px) {
    .container{
        max-width: 640px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .container{
        max-width: 768px;
        display: flex;
        flex-direction: column;
    }

    .header nav {
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin: 5px;
        border-radius: 25px;
        width: 75%;
        text-align: center;
    }


}
@media (max-width: 1024px) {
    .container{
        max-width: 1024px;
    }
}
@media (max-width: 1280px) {
   .container{
        max-width: 1280px;
   }
}
@media (max-width: 1536px) {
    .container{
        max-width: 1536px;
    }
}
