html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
  }
  
.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.portfolio h2 { 
    font: 'Roboto', sans-serif; 
    font-size: 40px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: hsla(9, 100%, 87%, 1);
    border: black 3px solid;
    border-radius: 25px;
    margin-block-end: auto;
    text-align: center;
    box-shadow: 0 2px 15px #000000;
}

.portfolio-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.portfolio-items h3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.portfolio-items p {
    font-size: 20px;
    text-align: center;
}

.portfolio-items div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 15px #000000;
    width: 40%;   
    height: 300px;
    color: rgba(255, 255, 255, 0);
    opacity: 1;
}

.portfolio-items div:hover {
    background-color: #000000;
    opacity: .7;
    transition: 0.5s;
    color: rgb(0, 0, 0);
}

.portfolio-item h3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.portfolio-item {
     background-image: url(https://picsum.photos/id/80/600/350);
}

.portfolio-item:nth-child(1) {
    background-image: url(https://picsum.photos/id/50/600/350);
}
.portfolio-item:nth-child(2) {
    background-image: url(https://picsum.photos/id/20/600/350);
}
.portfolio-item:nth-child(3) {
    background-image: url(https://picsum.photos/id/15/600/350);
}

.portfolio-item a img {
    font-size: 20px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    visibility: hidden;
}

.portfolio-item a img:hover {
    visibility: visible;
}


.github{
    transition: 0.5s;
    height: 40px;
    width: 40px;
    border: #000000 3px solid;
    border-radius: 250px;
    filter: brightness(150%);
    align-content: center;
}

.github:hover {
    background-color: #000000;
    border: 1px solid #000000;
    filter: brightness(150%);
}

